html {
  background-color: teal;
}

body {
  background-color: antiquewhite;
  border: 50px solid white;
  border-radius: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 700px;
  margin: 50px auto;
  padding: 25px 75px;
}
.center {
  text-align: center;
}

h1 {
  color: maroon;
}

h2 {
  color: blue;
}

a {
  color: palevioletred;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  text-decoration: underline;
}
